<!-- SCROLL TO TOP
    ================================================== -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="/static/main/js/jquery.min.js"></script>

    <!-- popper js -->
    <script src="/static/main/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="/static/main/js/bootstrap.min.js"></script>

    <!-- core.min.js -->
    <script src="/static/main/js/core.min.js"></script>

    <!-- search -->
    <script src="/static/main/search/search.js"></script>

    <!-- revolution slider js files start -->
    <script src="/static/main/js/rev_slider/jquery.themepunch.tools.min.js"></script>
    <script src="/static/main/js/rev_slider/jquery.themepunch.revolution.min.js"></script>
    <script src="/static/main/js/rev_slider/extensions/revolution.extension.actions.min.js"></script>
    <script src="/static/main/js/rev_slider/extensions/revolution.extension.carousel.min.js"></script>
    <script src="/static/main/js/rev_slider/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="/static/main/js/rev_slider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="/static/main/js/rev_slider/extensions/revolution.extension.migration.min.js"></script>
    <script src="/static/main/js/rev_slider/extensions/revolution.extension.navigation.min.js"></script>
    <script src="/static/main/js/rev_slider/extensions/revolution.extension.parallax.min.js"></script>
    <script src="/static/main/js/rev_slider/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="/static/main/js/rev_slider/extensions/revolution.extension.video.min.js"></script>

    <!-- theme core scripts -->
    <script src="/static/main/js/main.js"></script>

    <!-- quform plugins js -->
    <script src="/static/main/quform/js/plugins.js"></script>

    <!-- quform scripts js -->
    <script src="/static/main/quform/js/scripts.js"></script>

    <!-- all js include end -->

</body>


</html>