        <footer>
            <div class="container">
                <div class="row mt-n1-9">
                    <div class="col-md-6 col-lg-4 mt-1-9">
                        <div class=" img logo " style="width: 175px; ">
                            <img src="/media/{{lab.logo}}" alt="">
                        </div>
                        <p class="mt-4 text-light-gray">At ExPERT, we drive innovation and sustainability in power electronics and energy research. Join us in making a meaningful impact.</p>
                        <div class="mt-4 footer-social-icons">
                            <ul class="ps-0">
                                <li><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#!"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#!"><i class="fab fa-youtube"></i></a></li>
                                <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2 mt-1-9">
                        <h3 class="text-white">Quick Links</h3>
                        <ul class="footer-list ps-0">
                            <li><a href="#!">People</a></li>
                            <li><a href="#!">Research</a></li>
                            <li><a href="#!">News</a></li>
                            <li><a href="#!">Publications</a></li>
                            <li><a href="#!">Teaching</a></li>
                            <li><a href="#!">Highlights</a></li>
                            <li><a href="#!">Database</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-3 mt-1-9">
                        <h3 class="text-white">Recent Posts</h3>

                        <div class="clearfix footer-recent-post mt-0">
                            <div class="footer-recent-post-thumb"><img alt="..." src="/static/main/img/thumbs/t-1.jpg"></div>
                            <div class="footer-recent-post-content"><a href="#!">Advancements in Power Electronics</a><span>Apr 5, <script>document.write(new Date().getFullYear())</script></span></div>
                        </div>
                        <div class="clearfix footer-recent-post">
                            <div class="footer-recent-post-thumb"><img alt="..." src="/static/main/img/thumbs/t-2.jpg"></div>
                            <div class="footer-recent-post-content"><a href="#!">Sustainable Energy Innovations</a> <span>Mar 28, <script>document.write(new Date().getFullYear())</script></span></div>
                        </div>
                        <div class="clearfix footer-recent-post">
                            <div class="footer-recent-post-thumb"><img alt="..." src="/static/main/img/thumbs/t-3.jpg"></div>
                            <div class="footer-recent-post-content"><a href="#!">The Future of Energy Research</a> <span>Feb 12, <script>document.write(new Date().getFullYear())</script></span></div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 mt-1-9">
                        <h3 class="text-white">Newsletter</h3>
                        <p class="text-light-gray mb-4">Stay updated with our latest research and innovations in power electronics. Subscribe to our newsletter!</p>

                        <form class="quform newsletter-form w-sm-90 mx-auto mx-lg-0" action="" method="post" enctype="multipart/form-data">
                            <div class="quform-elements">
                                <div class="row">
                                    <!-- Begin Text input element -->
                                    <div class="col-md-12">
                                        <div class="quform-element">
                                            <div class="quform-input">
                                                <input class="form-control" id="email_address" type="text" name="email_address" placeholder="Subscribe with us" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Text input element -->

                                    <!-- Begin Submit button -->
                                    <div class="col-md-12">
                                        <div class="quform-submit-inner">
                                            <button class="btn btn-white text-primary m-0" type="submit"><i class="fas fa-paper-plane"></i></button>
                                        </div>
                                        <div class="quform-loading-wrap"><span class="quform-loading"></span></div>
                                    </div>
                                    <!-- End Submit button -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="footer-bar">
                <div class="container">
                    <p>&copy; E<sup>X</sup>PERT 2024</p>
                </div>
            </div>
        </footer>
