               <!-- start chat right sidebar -->
               <div class="page-right-sidebar" id="chat-right-sidebar">
                <div class="page-right-sidebar-inner">
                    <div class="right-sidebar-top">
                        <div class="chat-top-info">
                            <span class="chat-name">Noah</span>
                            <span class="chat-state">2h ago</span>
                        </div>
                        <a href="#!" class="right-sidebar-toggle chat-sidebar-close float-end" data-sidebar-id="chat-right-sidebar"><i class="icon-keyboard_arrow_right"></i></a>
                    </div>
                    <div class="right-sidebar-content">
                        <div class="right-sidebar-chat slimscroll">
                            <div class="chat-bubbles">
                                <div class="chat-start-date">02/03/2019 5:58PM</div>
                                <div class="chat-bubble them">
                                    <div class="chat-bubble-img-container">
                                        <img src="/static/users/img/avatars/chat06.jpg" alt="...">
                                    </div>
                                    <div class="chat-bubble-text-container">
                                        <span class="chat-bubble-text">Hello</span>
                                    </div>
                                </div>
                                <div class="chat-bubble me">
                                    <div class="chat-bubble-text-container">
                                        <span class="chat-bubble-text">Hello!</span>
                                    </div>
                                </div>
                                <div class="chat-start-date">03/02/2019 5:18AM</div>
                                <div class="chat-bubble me">
                                    <div class="chat-bubble-text-container">
                                        <span class="chat-bubble-text">lorem</span>
                                    </div>
                                </div>
                                <div class="chat-bubble them">
                                    <div class="chat-bubble-img-container">
                                        <img src="/static/users/img/avatars/chat07.jpg" alt="...">
                                    </div>
                                    <div class="chat-bubble-text-container">
                                        <span class="chat-bubble-text">ipsum dolor sit amet</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="chat-write">
                            <form class="form-horizontal" action="javascript:void(0);">
                                <input type="text" class="form-control" placeholder="Say something">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end chat right sidebar -->

            <!-- end page right sidebar -->
            
        </div>

    </div>

   <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#!" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="/static/users/plugins/jquery/jquery-3.1.0.min.js"></script>

    <!-- bootstrap -->
    <script src="/static/users/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- slimscroll -->
    <script src="/static/users/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>

    <!-- uniform -->
    <script src="/static/users/plugins/uniform/js/jquery.uniform.standalone.js"></script>

    <!-- switchery -->
    <script src="/static/users/plugins/switchery/switchery.min.js"></script>

    <!-- chartjs -->
    <script src='plugins/chartjs/chart.min.js'></script>

    <!-- d3.min -->
    <script src="/static/users/plugins/d3/d3.min.js"></script>

    <!-- nv.d3.min -->
    <script src="/static/users/plugins/nvd3/nv.d3.min.js"></script>

    <!-- float chart -->
    <script src="/static/users/plugins/flot/jquery.flot.min.js"></script>

    <!-- float time -->
    <script src="/static/users/plugins/flot/jquery.flot.time.min.js"></script>

    <!-- float symbol -->
    <script src="/static/users/plugins/flot/jquery.flot.symbol.min.js"></script>

    <!-- float resize -->
    <script src="/static/users/plugins/flot/jquery.flot.resize.min.js"></script>

    <!-- float tooltip -->
    <script src="/static/users/plugins/flot/jquery.flot.tooltip.min.js"></script>

    <!-- float pie -->
    <script src="/static/users/plugins/flot/jquery.flot.pie.min.js"></script>

    <!-- float pie -->
    <script src="/static/users/js/pages/dashboard.js"></script>

    <!-- theme core scripts -->
    <script src="/static/users/js/main.js"></script>